[Unit]
Description=InstantLink Bridge USB admin link attached

[Service]
Type=oneshot
ExecStart=/usr/bin/logger -t instantlink-bridge-usb0 "usb0 added"
