[Unit]
Description=InstantLink Bridge USB admin link removed

[Service]
Type=oneshot
ExecStart=/usr/bin/logger -t instantlink-bridge-usb0 "usb0 removed"
